@font-face {
  font-family: 'Montserrat'; 
  src: url('../../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../../fonts/MontserratBold.ttf');
}

.footer-designedby{
  letter-spacing: 1px;
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 10px;
  color: #cccccc;
  text-align: center;
  margin-top: 10px;
}

.footer-designedby__img{
  margin-top: 8px;
  display: flex;
}