@import "footer-company.css";
@import "footer-designedby.css";
@import "footer-partners.css";

@font-face {
  font-family: 'Roboto'; 
  src: url('../../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../fonts/MontserratBold.ttf');
}


.footer-wrap{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  width: device-width;
  border-top: #ff4e50 4px solid;
}

.footer{
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-top: 15px;
  align-items: center;
}

.footer-site-name{
  display: flex;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 17px;
  color:#ff4e50;
}