@font-face {
  font-family: 'Roboto'; 
  src: url(../../../fonts/Roboto.ttf);
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../../fonts/MontserratBold.ttf');
}


.footer-partners{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.footer-partners__header{
  display: flex;
  margin-top: 15px;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.footer-partners-links{
  display: flex;
  margin-top: 5px;
  width: 200px;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.footer-partners__link{
  display: flex;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  color:#666666;
}