@font-face {
  font-family: 'Roboto'; 
  src: url(../../../fonts/Roboto.ttf);
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../../fonts/MontserratBold.ttf');
}


.footer-partners{
  display: flex;
  width: 240px;
}

.footer-partners__header{
  display: flex;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}