@font-face {
  font-family: 'Roboto'; 
  src: url(../../../fonts/Roboto.ttf);
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../../fonts/MontserratBold.ttf');
}


.footer-company{
  display: flex;
  width: 240px;
  height: 120px;
  flex-direction: column;
}

.footer-company__header{
  display: flex;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  color: #333333;
}

.footer-company-links{
  margin-top: 20px;
}

.footer-company__link{
  margin-bottom: 15px;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 14px;
  display: flex;
  color:#666666;
}