@import "header-top.css";
@import "header-main.css";

@font-face {
  font-family: 'Roboto'; 
  src: url('../../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  font-weight: bold;
  src: url('../../fonts/MontserratBold.ttf');
}

.header_font_roboto{
  font-family: 'Roboto';
  font-weight: lighter;
}

.header_font_montserrat_bold{
  font-family: 'Montserrat';
  font-weight: bold;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  background: #000000c0 url("../../img/header.png");
  background-position: center;
}