@import "header-top-buttons.css";

.header-top{
  width: 940px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-top__site-name{
  display: flex;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 20px;
}