@import "footer-company.css";
@import "footer-designedby.css";
@import "footer-partners.css";

@font-face {
  font-family: 'Roboto'; 
  src: url('../../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  font-weight: bold;
  src: url('../../fonts/MontserratBold.ttf');
}

.footer_font_roboto{
  font-family: 'Roboto';
  font-weight: lighter;
}

.footer_font_montserrat_bold{
  font-family: 'Montserrat';
  font-weight: bold;
}

.footer-wrap{
  display: flex;
  margin-top: 95px;
  justify-content: center;
  width: 100%;
  border-top: #ff4e50 4px solid;
}

.footer{
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 40px;
  width: 768px;
  height: 192px;
  padding-top: 35px;
}

.footer-site-name{
  display: flex;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
  color:#ff4e50;
}