@import "footer-company.css";
@import "footer-designedby.css";
@import "footer-partners.css";

@font-face {
  font-family: 'Roboto'; 
  src: url('../../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../fonts/MontserratBold.ttf');
}


.footer-wrap{
  display: flex;
  margin-top: 95px;
  justify-content: center;
  width: 100%;
  border-top: #ff4e50 4px solid;
}

.footer{
  display: flex;
  flex-direction: row;
  width: 660px;
  height: 192px;
  padding-top: 40px;
}

.footer-site-name{
  display: flex;
  width: 25%;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 16px;
  color:#ff4e50;
}