@import "partners-partner__photo.css";

@font-face {
  font-family: 'Roboto'; 
  src: url(../../../fonts/Roboto.ttf);
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../../fonts/MontserratBold.ttf');
}

.partners-partner{
  display: flex;
  flex-direction: column;
  margin: 0px 10px 0px 10px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.partners-partner__text{
  display: flex;
  order:1;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
  margin-bottom: 28px;
}

.partners-partner__name{
  order: 0;
  display: flex;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}