@import "header-top.css";
@import "header-main.css";

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  font-weight: bold;
  src: url('../../fonts/MontserratBold.ttf');
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 768px;
  height: 540px;
  background: #000000c0 url("../../img/header.png");
  background-position: 52% 50%;
  background-size: 150%
}