@font-face {
  font-family: 'Roboto'; 
  src: url('../../fonts/Roboto.ttf');
}

.header-main{
  height: 100%;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main__big-text{
  display: flex;
  margin-top: 35px;
  margin-bottom: 20px;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 30px;
}

.header-main__small-text{
  display: flex;
  width: 220px;
  margin-bottom: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: lighter;
  font-size: 18px;
}

.header-main__button{
  display: flex;
  width: 280px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  border-radius: 20px;
  border-width: 0;
  background-color: #ff4e50;
}