@import "header-top-buttons.css";

.header-top{
  width: 320px;
  margin-top: 20px;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: center;
  align-items: center;
}

.header-top__site-name{
  margin-top: 120px;
  display: flex;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 1px;
}