@font-face {
  font-family: 'Roboto'; 
  src: url('../../../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  src: url('../../../fonts/MontserratBold.ttf');
}

.search__interaction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search__interaction-input{
  width: 280px;
  height: 40px;
  border-radius: 5px;
  border-width: 1px;
  box-sizing: border-box;
  border-color: #999999;
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 14px;
  margin-top: 10px;
  padding-left: 15px;
  box-sizing: border-box;
}

.search__interaction-button{
  width: 280px;
  height: 40px;
  background-color: #ff4e50;
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 14px;
  border-width: 0;
  border-radius: 20px;
  margin-top: 10px;
  box-sizing: border-box;
}