@import "introduction/introduction.css";
@import "partners/partners.css";
@import "activities/activities.css";
@import "search/search.css";

@font-face {
  font-family: 'Roboto'; 
  src: url('../../fonts/Roboto.ttf');
}

@font-face {
  font-family: 'Montserrat'; 
  src: url('../../fonts/Montserrat Regular.ttf');
}

@font-face {
  font-family: 'Montserrat bold'; 
  font-weight: bold;
  src: url('../../fonts/MontserratBold.ttf');
}

.sections_font_roboto{
  font-family: 'Roboto';
  font-weight: lighter;
}

.sections_font_montserrat_bold{
  font-family: 'Montserrat';
  font-weight: bold;
}

.sections{
  display: flex;
  width: 768px;
  flex-direction: column;
  justify-content: center;
}